@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* Resets */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #222222;
    line-height: 25.6px;
}

ul {
    list-items: none;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 67.2px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #222222;
}

a {
    color: #fdfdfd;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Banner header styles */
.banner {
    background-image: url('/banner-image.jpeg');
    background-size: cover;
    color: #ffffff;
    position: relative;
}
.banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
} 

.banner-content {
    padding: 4rem 2rem;
}

.banner-card {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: #222222;
}

.banner-card li {
    margin-bottom: 0.75rem;
    background-color: #FFBBE8;
    border-radius: 9999px;
    padding: 0.5rem 1.5rem;
}

.navigation {
    background: #00000080;
}


/* Footer styles */
footer {
    color: #f9f7fe;
    background-color: #3d419533;
}
